<div class="big_wrapper" id="perks">
  <div class="perks_text">
    <h2 class="perks_header"> THE PERKS </h2>

    <p class="perks_content">
      You'd look awesome in one of our limited shirts on your next adventure. Check out our full list of goodies you can earn by supporting Advlo!
    </p>

    <a href="/preorder/checkout" class="blue_button perks_btn">See rest of the perks<i class="fa fa-angle-right angle_right"></i></a>

  </div>

  <a href= "/preorder/checkout" class="mountain_100_link"></a>
  <a href= "/preorder/checkout" class="mountain_50_link"></a>
  <a href= "/preorder/checkout" class="mountain_20_link"></a>

</div>