<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h3 class="center">Questions?</h3> 
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''>How is my payment being processed?</summary>
          <p>
            All payments are securely processed through Amazon Payments.
          </p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>How will the shipping work?</summary>
          <p>
            All thank you gifts will be shipped within 1 week of the selfstarter funding closure. (Sorry it costs too much to have a rolling orders).
          </p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>International Shipping?</summary>
          <p>
            Shipping is free to lower 48 states. 
            <br><br>
            Shipping to Alaska/Hawaii and other international locations will include flat rate of:
            <b>$10</b>
          </p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>T-Shirt sizes?</summary>
          <p>
            Once you have decided the amount you wish to support us with, when checking out in Amazon, please write down your t-shirt size in the comments prior to completing your order. Don't worry, if you forget, we will reach out to you at a later date.
          </p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Not Answered?</summary>
          <p>
            You can contact us at <a href="mailto:info@advlo.com">info@advlo.com</a> if you have any other questions not found here.
          </p>
        </details>
      </li>
    </ul>
    <ul class='col2'>
      <li>
        <details class=''>
          <summary>GoPro HERO3 Giveaway</summary>
          <p>
            3 winners will be chosen from those who donated $20 or $35.
          </p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary>Regional Adventure of your choice</summary>
          <p>
            2 winners will be chosen from those who donated $50 or $75. Advlo will cover any adventure of your choice up to $250. Examples include sky diving, bungee jumping, whitewater rafting, ATVing, and more.
          </p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>National Adventure of your choice</summary>
          <p>
            1 winner will be chosen from those who donated $100 or $250. Advlo will cover any adventure, travel, and accommodations of your choice up to $750.
          </p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>How will the giveaway winners be selected?</summary>
          <p>
            A computer will randomly select all giveaway winners from all those who donated $20 or above. We will contact the winners via email at the end of the self-starter period on [exact date]. 
          </p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>Giveaway Rules</summary>
          <p>
            Open only to legal U.S. residents who are 18 years of age or older. Entries will be accepted from [exact date] to [exact date] at 11:59pm ET. 3 winners will be chosen for each giveaway from all those who donated $20 or more. Winners will be contacted via email and must claim their prize within 7 days to be considered. Void where prohibited by law.
          </p>
        </details>
      </li>
    </ul>
  </div>
</div>
