<div class="sidebar">
	<div class="left">
	  <h5 class="sidebar_header">When will I be charged?</h5>
	  <p>
	    You will be only charged when your Advlo thank you gift has been shipped.
	  </p>

	  <h5 class="sidebar_header">When will my gift be shipped?</h5>
	  <p>
	    All thank you gifts will be shipped within 1 week of the selfstarter funding closure. (Sorry it costs too much to have a rolling orders)
	  </p>

	  <h5 class="sidebar_header">How will the raffle winners be selected?</h5>
	  <p>
	    We will have the computer pick a random winner from the pool of backers. That person will be notified via a personal email at the end of the sefstarter funding period.
	  </p>
  	</div>

  	<div class="right">
	  <h5 class="sidebar_header">Raffles</h5>
	  <h5> GoPro:</h5>
	  <p>
	    3 Raffles will be held for those backers.
	  </p>
	  <h5> Regional Adventure of your choice:</h5>
	  <p>
	    We will reach out to the winner personally and arrange to cover the adventure of your choice...examples include skydiving, bungie jumping, ATVing, etc.
	  </p>
	  <h5> National Adventure of your choice:</h5>
	  <p>
	    We will reach out to the winner personally and arrange your full trip to Colorodo to meet with the team and then be led on number of adventures in the Colorado outdoors.
	  </p>
  	</div>	

  	<br>

  	<h5 class="sidebar_header center">Not answered?</h5>
	  <p class="center">
	    Contact us at: <a href="mailto:info@advlo.com"> info@advlo.com </a>
	  </p>

</div>