/*

#lockitron_header
{
  border: none;
  a
  {
    border: none !important;
    font-size: inherit !important;
  }
}

*/

#header 
{
  width: 100%;
  padding: 12px 0;
  //-moz-box-shadow:    0px 1px 3px 0px #acacac;
  //-webkit-box-shadow: 0px 1px 3px 0px #acacac;
  //box-shadow:         0px 1px 3px 0px #acacac;
  background: rgba(0,0,0,0.75);
  position: fixed;
  z-index: 999;
}

.logo {
  img {
    width: 180px !important;
  }
}

.menu_items {
  clear: none !important;
  margin-top: 21px;
  font-size: 16px;
  text-shadow: none !important;

  a {
    margin: 0 15px;
    color: white;
    
    &:hover {
      text-decoration: none;
      color: $orange;
    }
  }
}